In [13]:
import pandas as pd

##Hello Series

In [30]:
#Cria a Series de notas
notas = pd.Series([7.6, 5.0, 8.5, 9.5, 6.4])
notas

0    7.6
1    5.0
2    8.5
3    9.5
4    6.4
dtype: float64

In [15]:
#Cria a Series de alunos
lst_matriculas = ['M02', 'M05', 'M13', 'M14', 'M19']
lst_nomes = ['Bob', 'Dayse', 'Bill', 'Cris', 'Jimi']
alunos = pd.Series(lst_nomes, index=lst_matriculas)

In [16]:
#imprime suas duas Series
print(notas); print('-------------------'); print(alunos)

0    7.6
1    5.0
2    8.5
3    9.5
4    6.4
dtype: float64
-------------------
M02      Bob
M05    Dayse
M13     Bill
M14     Cris
M19     Jimi
dtype: object

In [17]:
#Outra maneira de criar Series
dic_alunos = {'M02': 'Bob', 'M05': 'Dayse', 'M13': 'Bill', 'M14': 'Cris', 'M19': 'Jimi'}
alunos = pd.Series(dic_alunos)

In [18]:
print(alunos)

M02      Bob
M05    Dayse
M13     Bill
M14     Cris
M19     Jimi
dtype: object

##Propriedades básicas das Series

In [19]:
#Atribui nomes para os vetores de dados e rótulos
alunos.name = 'alunos'
alunos.index.name = 'matrículas'

In [20]:
#Recupera e imprime as propriedades
print(alunos)
print('----------------------------')
tamanho = alunos.size
dados = alunos.values
rotulos = alunos.index
alunos_tipo = type(alunos)
alunos_dtype = alunos.dtype
alunos_idx_dtype = alunos.index.dtype

print(f'Número de elementos: {tamanho}')
print(f'Vetor de dados: {dados}')
print(f'Vetor de rótulos: {rotulos}')
print(f'Tipo (type): {alunos_tipo}')
print(f'Dtype da Series: {alunos_dtype}')
print(f'Dtype do vetor de rótulos: {alunos_idx_dtype}')

matrículas
M02      Bob
M05    Dayse
M13     Bill
M14     Cris
M19     Jimi
Name: alunos, dtype: object
----------------------------
Número de elementos: 5
Vetor de dados: ['Bob' 'Dayse' 'Bill' 'Cris' 'Jimi']
Vetor de rótulos: Index(['M02', 'M05', 'M13', 'M14', 'M19'], dtype='object', name='matrículas')
Tipo (type): <class 'pandas.core.series.Series'>
Dtype da Series: object
Dtype do vetor de rótulos: object

In [21]:
#Indexação tradicional
print(alunos[0]) #pega o primeiro aluno
print(alunos['M14']) #aluno de matrícula 'M14'
print(alunos[alunos.size-1]) #último aluno ou alunos[-1]

Bob
Cris
Jimi

/tmp/ipykernel_47224/671481380.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(alunos[0]) #pega o primeiro aluno
/tmp/ipykernel_47224/671481380.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(alunos[alunos.size-1]) #último aluno ou alunos[-1]

In [22]:
#Indexação por fatiamento
print(alunos[1:3]) #Do elemento de indice i=1 ao de índice j =3 - 1, ou seja vai do elemento 1 ao elemento 2
print(alunos[2:]) #Do elemento de índice i = 2 até o último elemento
print(alunos[:3]) #Do primeiro elemento ao de índice j = 3 - 1, ou seja vai do primeiro elemento até o elemento 2
print(alunos[1:4:2]) #Do elemento i = 1 ao j=4 -1, pulando os índices de 2 em 2
print(alunos[[2,0,4]])#Todos os elementos especificados pelos índices da lista nesta ordem
print(alunos[['M13', 'M02', 'M19']]) #Todos os elementos especificados pelo título da lista nesta ordem

matrículas
M05    Dayse
M13     Bill
Name: alunos, dtype: object
matrículas
M13    Bill
M14    Cris
M19    Jimi
Name: alunos, dtype: object
matrículas
M02      Bob
M05    Dayse
M13     Bill
Name: alunos, dtype: object
matrículas
M05    Dayse
M14     Cris
Name: alunos, dtype: object
matrículas
M13    Bill
M02     Bob
M19    Jimi
Name: alunos, dtype: object
matrículas
M13    Bill
M02     Bob
M19    Jimi
Name: alunos, dtype: object

/tmp/ipykernel_47224/3678335663.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(alunos[[2,0,4]])#Todos os elementos especificados pelos índices da lista nesta ordem

In [31]:
#Indexação booleana
#Obtém os índices dos alunos aprovados
idx_aprovados = notas[notas >= 7].index

In [32]:
#imprime os alunos aprovados
print('relação de alunos aprovados:')
print('--------------------------------')
print(alunos[idx_aprovados])

relação de alunos aprovados:
--------------------------------
matrículas
M02     Bob
M13    Bill
M14    Cris
Name: alunos, dtype: object

/tmp/ipykernel_47224/4050336039.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(alunos[idx_aprovados])

##Busca em Series

In [34]:
#Testa se rótulos fazem parte de uma Series
tem_M13 = 'M13' in alunos
tem_M99 = 'M99' in alunos
print(f'Existe o rótulo "M13"? -> {tem_M13}')
print(f'Existe o rótulo "M99"? -> {tem_M99}')
print('---------------------------------------')

Existe o rótulo "M13"? -> True
Existe o rótulo "M99"? -> False
---------------------------------------

In [35]:
#Testa se valor faz parte de uma Series
tem_Bob = alunos.isin(['Bob'])
print('Existe o valor "Bob"')
print(tem_Bob)

Existe o valor "Bob"
matrículas
M02     True
M05    False
M13    False
M14    False
M19    False
Name: alunos, dtype: bool

##Modificação

In [36]:
#Inserindo, Alterando e removendo elementos de Series
#inserir o aluno de matrícula M55, Rakesh
alunos['M55'] = 'Rakesh'

In [37]:
#Altera os nomes Bill, Cris e Jimi para Billy, Cristy e Jimmy
alunos['M13'] = 'Billy'
alunos[['M14', 'M19']] = ['Cristy', 'Jimmy']

In [38]:
#Remove o aluno de matrícula M02 (Bob)
alunos = alunos.drop('M02')

print('---------------------------------')
print('Series após as alterações:')
print(alunos)

---------------------------------
Series após as alterações:
matrículas
M05     Dayse
M13     Billy
M14    Cristy
M19     Jimmy
M55    Rakesh
Name: alunos, dtype: object

In [ ]:
#Muda o índice
alunos.index = ['M55', 'M14', 'M19', 'M13', 'M05']
alunos

M55     Dayse
M14     Billy
M19    Cristy
M13     Jimmy
M05    Rakesh
Name: alunos, dtype: object

##Operações aritméticas com computação vetorizada

In [41]:
import numpy as np

In [42]:
#Cria as Series s1 e s2
s1 = pd.Series([2,4,6])
s2 = pd.Series([1,3,5])
print(s1 * 2)
print(s1 + s2)
print(np.sqrt(s1))

0     4
1     8
2    12
dtype: int64
0     3
1     7
2    11
dtype: int64
0    1.414214
1    2.000000
2    2.449490
dtype: float64

In [ ]:
##