In [1]:
import pandas as pd

##Hello Series

In [2]:
#Cria a Series de notas
notas = pd.Series([7.6, 5.0, 8.5, 9.5, 6.4])
notas

0    7.6
1    5.0
2    8.5
3    9.5
4    6.4
dtype: float64

In [3]:
#Cria a Series de alunos
lst_matriculas = ['M02', 'M05', 'M13', 'M14', 'M19']
lst_nomes = ['Bob', 'Dayse', 'Bill', 'Cris', 'Jimi']
alunos = pd.Series(lst_nomes, index=lst_matriculas)

In [4]:
#imprime suas duas Series
print(notas); print('-------------------'); print(alunos)

0    7.6
1    5.0
2    8.5
3    9.5
4    6.4
dtype: float64
-------------------
M02      Bob
M05    Dayse
M13     Bill
M14     Cris
M19     Jimi
dtype: object

In [5]:
#Outra maneira de criar Series
dic_alunos = {'M02': 'Bob', 'M05': 'Dayse', 'M13': 'Bill', 'M14': 'Cris', 'M19': 'Jimi'}
alunos = pd.Series(dic_alunos)

In [6]:
print(alunos)

M02      Bob
M05    Dayse
M13     Bill
M14     Cris
M19     Jimi
dtype: object

##Propriedades básicas das Series

In [7]:
#Atribui nomes para os vetores de dados e rótulos
alunos.name = 'alunos'
alunos.index.name = 'matrículas'

In [8]:
#Recupera e imprime as propriedades
print(alunos)
print('----------------------------')
tamanho = alunos.size
dados = alunos.values
rotulos = alunos.index
alunos_tipo = type(alunos)
alunos_dtype = alunos.dtype
alunos_idx_dtype = alunos.index.dtype

print(f'Número de elementos: {tamanho}')
print(f'Vetor de dados: {dados}')
print(f'Vetor de rótulos: {rotulos}')
print(f'Tipo (type): {alunos_tipo}')
print(f'Dtype da Series: {alunos_dtype}')
print(f'Dtype do vetor de rótulos: {alunos_idx_dtype}')

matrículas
M02      Bob
M05    Dayse
M13     Bill
M14     Cris
M19     Jimi
Name: alunos, dtype: object
----------------------------
Número de elementos: 5
Vetor de dados: ['Bob' 'Dayse' 'Bill' 'Cris' 'Jimi']
Vetor de rótulos: Index(['M02', 'M05', 'M13', 'M14', 'M19'], dtype='object', name='matrículas')
Tipo (type): <class 'pandas.core.series.Series'>
Dtype da Series: object
Dtype do vetor de rótulos: object

In [9]:
#Indexação tradicional
print(alunos[0]) #pega o primeiro aluno
print(alunos['M14']) #aluno de matrícula 'M14'
print(alunos[alunos.size-1]) #último aluno ou alunos[-1]

Bob
Cris
Jimi

/tmp/ipykernel_1036224/671481380.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(alunos[0]) #pega o primeiro aluno
/tmp/ipykernel_1036224/671481380.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(alunos[alunos.size-1]) #último aluno ou alunos[-1]

In [10]:
#Indexação por fatiamento
print(alunos[1:3]) #Do elemento de indice i=1 ao de índice j =3 - 1, ou seja vai do elemento 1 ao elemento 2
print(alunos[2:]) #Do elemento de índice i = 2 até o último elemento
print(alunos[:3]) #Do primeiro elemento ao de índice j = 3 - 1, ou seja vai do primeiro elemento até o elemento 2
print(alunos[1:4:2]) #Do elemento i = 1 ao j=4 -1, pulando os índices de 2 em 2
print(alunos[[2,0,4]])#Todos os elementos especificados pelos índices da lista nesta ordem
print(alunos[['M13', 'M02', 'M19']]) #Todos os elementos especificados pelo título da lista nesta ordem

matrículas
M05    Dayse
M13     Bill
Name: alunos, dtype: object
matrículas
M13    Bill
M14    Cris
M19    Jimi
Name: alunos, dtype: object
matrículas
M02      Bob
M05    Dayse
M13     Bill
Name: alunos, dtype: object
matrículas
M05    Dayse
M14     Cris
Name: alunos, dtype: object
matrículas
M13    Bill
M02     Bob
M19    Jimi
Name: alunos, dtype: object
matrículas
M13    Bill
M02     Bob
M19    Jimi
Name: alunos, dtype: object

/tmp/ipykernel_1036224/3678335663.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(alunos[[2,0,4]])#Todos os elementos especificados pelos índices da lista nesta ordem

In [11]:
#Indexação booleana
#Obtém os índices dos alunos aprovados
idx_aprovados = notas[notas >= 7].index

In [12]:
#imprime os alunos aprovados
print('relação de alunos aprovados:')
print('--------------------------------')
print(alunos[idx_aprovados])

relação de alunos aprovados:
--------------------------------
matrículas
M02     Bob
M13    Bill
M14    Cris
Name: alunos, dtype: object

/tmp/ipykernel_1036224/4050336039.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(alunos[idx_aprovados])

##Busca em Series

In [13]:
#Testa se rótulos fazem parte de uma Series
tem_M13 = 'M13' in alunos
tem_M99 = 'M99' in alunos
print(f'Existe o rótulo "M13"? -> {tem_M13}')
print(f'Existe o rótulo "M99"? -> {tem_M99}')
print('---------------------------------------')

Existe o rótulo "M13"? -> True
Existe o rótulo "M99"? -> False
---------------------------------------

In [14]:
#Testa se valor faz parte de uma Series
tem_Bob = alunos.isin(['Bob'])
print('Existe o valor "Bob"')
print(tem_Bob)

Existe o valor "Bob"
matrículas
M02     True
M05    False
M13    False
M14    False
M19    False
Name: alunos, dtype: bool

##Modificação

In [15]:
#Inserindo, Alterando e removendo elementos de Series
#inserir o aluno de matrícula M55, Rakesh
alunos['M55'] = 'Rakesh'

In [16]:
#Altera os nomes Bill, Cris e Jimi para Billy, Cristy e Jimmy
alunos['M13'] = 'Billy'
alunos[['M14', 'M19']] = ['Cristy', 'Jimmy']

In [17]:
#Remove o aluno de matrícula M02 (Bob)
alunos = alunos.drop('M02')

print('---------------------------------')
print('Series após as alterações:')
print(alunos)

---------------------------------
Series após as alterações:
matrículas
M05     Dayse
M13     Billy
M14    Cristy
M19     Jimmy
M55    Rakesh
Name: alunos, dtype: object

In [18]:
#Muda o índice
alunos.index = ['M55', 'M14', 'M19', 'M13', 'M05']
alunos

M55     Dayse
M14     Billy
M19    Cristy
M13     Jimmy
M05    Rakesh
Name: alunos, dtype: object

##Operações aritméticas com computação vetorizada

In [19]:
import numpy as np

In [20]:
#Cria as Series s1 e s2
s1 = pd.Series([2,4,6])
s2 = pd.Series([1,3,5])
print(s1 * 2)
print(s1 + s2)
print(np.sqrt(s1))

0     4
1     8
2    12
dtype: int64
0     3
1     7
2    11
dtype: int64
0    1.414214
1    2.000000
2    2.449490
dtype: float64

##O valor NaN

In [21]:
verde = pd.Series({'BR': 1, 'FR':0, 'IT': 1, 'UK': 0})
azul = pd.Series({'AR': 1, 'BR': 1, 'FR': 1, 'IT': 0, 'UK': 1})

In [22]:
soma = verde + azul
print('Soma:')
print(soma)
print('---------------------------')
print('isnull(soma): ')
print(pd.isnull(soma))

Soma:
AR    NaN
BR    2.0
FR    1.0
IT    1.0
UK    1.0
dtype: float64
---------------------------
isnull(soma):
AR     True
BR    False
FR    False
IT    False
UK    False
dtype: bool

###Índices datetime

In [23]:
dias = ['10/02/2019', '11/02/2019', '12/02/2019', '13/02/2019', '14/02/2019', '15/02/2019']
temp_max = [31,35,34,28,27,27]
serie_temporal = pd.Series(temp_max, index=dias)

In [24]:
#Converte o tipo do índice para datetime e imprime a série
serie_temporal.index = pd.to_datetime(serie_temporal.index, format = '%d/%m/%Y')

In [25]:
serie_temporal

2019-02-10    31
2019-02-11    35
2019-02-12    34
2019-02-13    28
2019-02-14    27
2019-02-15    27
dtype: int64

###Índexação hierárquica

In [26]:
moedas = ['Peso', 'Real', 'Euro', 'Euro', 'Libra']
paises = [['América', 'América', 'Europa', 'Europa', 'Europa'], ['AR', 'BR', 'FR', 'IT', 'UK']]

In [27]:
paises = pd.Series(moedas, index = paises)

In [28]:
print(paises)
print('---------------------')
print(paises['América'])
print('---------------------')
print(paises[:,'IT'])
print('---------------------')
print(paises['Europa', 'IT'])

América  AR     Peso
         BR     Real
Europa   FR     Euro
         IT     Euro
         UK    Libra
dtype: object
---------------------
AR    Peso
BR    Real
dtype: object
---------------------
Europa    Euro
dtype: object
---------------------
Euro

##DataFrame

In [29]:
dados = {'nome': ['Argentina', 'Brasil', 'França', 'Itália', 'Reino Unido'],
        'Continente': ['América', 'América','Europa', 'Europa', 'Europa'],
        'extensao': [2780,8511,644,301,244],
        'corVerde': [0,1,0,1,0]
        }

siglas = ['AR', 'BR', 'FR', 'IT', 'UK']

paises = pd.DataFrame(dados, index=siglas)

paises

           nome Continente  extensao  corVerde
AR    Argentina    América      2780         0
BR       Brasil    América      8511         1
FR       França     Europa       644         0
IT       Itália     Europa       301         1
UK  Reino Unido     Europa       244         0

In [ ]:
#Propriedades básicas dos DataFrames
num_linhas = paises.shape[0] 
num_colunas = paises.shape[1]
indices = paises.index
colunas = paises.columns
paises_tipo = type(paises)
paises_dtypes = paises.dtypes
paises_idx_dtype = paises.index.dtype

In [37]:
print(f'número de linhas: {num_linhas}')
print(f'números de colunas: {num_colunas}')
print(f'rótulos das linhas: {indices}')
print(f'rótulos das colunas: {colunas}')
print(f'tipo (type): {paises_tipo}')
print(f'dtypes das colnuas:\n {paises_dtypes}')
print(f'dtype dos rótulos das linhas: {paises_idx_dtype}')

número de linhas: 5
números de colunas: 4
rótulos das linhas: Index(['AR', 'BR', 'FR', 'IT', 'UK'], dtype='object')
rótulos das colunas: Index(['nome', 'Continente', 'extensao', 'corVerde'], dtype='object')
tipo (type): <class 'pandas.core.frame.DataFrame'>
dtypes das colnuas:
 nome          object
Continente    object
extensao       int64
corVerde       int64
dtype: object
dtype dos rótulos das linhas: object

In [ ]:
#pag52